# Entorno virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store

# Archivos de configuración local y secretos
.streamlit/secrets.toml

# Archivos temporales generados
*.pdf
temp_*.md